@font-face {
  font-family: muli;
  src: url(./assets/fonts/Muli-SemiBold.woff);
}
@font-face {
  font-family: muliLight;
  src: url(./assets/fonts/Muli-Light.woff);
}

@font-face {
  font-family: muliBold;
  src: url(./assets/fonts/Muli-Bold.woff);
}

@font-face {
  font-family: merri;
  src: url(./assets/fonts/Merriweather-Bold.ttf);
}
@font-face {
  font-family: day;
  src: url(./assets/fonts/coolvetica\ rg.otf);
}

@font-face {
  font-family: mk;
  src: url(./assets/fonts/Bilal-d99MX.otf);
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0 !important;
  padding: 0 !important;
}

.box {
  text-align: center;
}

.box .title {
  font-size: 25px;
  font-family: merri;
  margin-top: 40%;
  color: rgb(0, 0, 0);
  margin-bottom: 10%;
}

.main {
  width: 400px;
  height: 230px;
  border-radius: 20px;
  padding: 35px;
  padding-bottom: 50px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

.main p {
  text-align: start;
  margin-top: 40px;
  font-size: 19px;
  width: 100%;
  font-family: merri;
  color: rgb(11, 11, 11);
  padding: 1px solid;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(213, 213, 213);
}

.main input {
  width: 80%;
  height: 60px;
  border: none;
  font-size: 20px;
  background: white;
  font-family: muliBold;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  border-radius: 10px;
  color: black;
  text-align: center;
  margin-top: 5px;
  padding-right: 70px;
  padding-left: 15px;
  text-overflow: ellipsis;
}

.main .copy {
  width: 50px;
  height: 50px;
  background: #2196f3;
  position: absolute;
  right: 40px;
  top: 6px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.copy:active {
  transform: scale(1.05);
}

button {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  border-radius: 10px;
  border: none;
  font-family: muli;
  background: #ffc107;
  font-size: 17px;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

button:active {
  transform: scale(1.05);
}

.customize {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  font-family: muli;
  padding-left: 0px;
  padding-top: 10px;
  margin-top: 30px;
}

.customize label {
  width: 100px;
  margin-right: 30px;
}

.designBy {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: #a1a1a1;
}

.designBy p {
  width: 100% !important;
  font-family: mk;
  font-size: 30px !important;
}

.designBy h1 {
  font-family: muli;
  font-size: 20px !important;
}

.day {
  font-family: day !important;
}

@media screen and (max-width: 992px) {
  .main {
    width: 310px;
    box-shadow: 0px 0px 0px 0px;
    background: none;
    padding: 0;
  }

  .main input {
    width: 230px;
    border: none;
    padding: 0;
    font-size: 16px;
    background: white;
    font-family: muliBold;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 10px;
    color: black;
    text-align: center;
    padding-right: 70px;
    padding-left: 10px;
    text-overflow: ellipsis;
  }

  .main input:disabled {
    background: white;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    color: black;ed
    font-size: 18px;
    font-family: muliBold;
  }

  button {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    font-family: muli;
    background: #ffc107;
    font-size: 17px;
    color: black;
    cursor: pointer;
    transition: 0.3s;
  }

  .main .copy {
    right: 7px;
    top: -29px;
  }

  .box .title {
    font-size: 21px;
    margin-top: 50%;
  }
  .designBy p {
    width: 100% !important;
    font-family: mk;
    font-size: 22px !important;
  }
  .designBy h1 {
    font-family: muli;
    font-size: 16px !important;
  }
}

@media screen and (max-width: 480px) {
}
